body{
    background-color: yellow;
    color: navy;
}
h2{
    text-align: center;
    font-style: italic;
}
hr.new1 {
    border-top: 5px solid rgb(0, 255, 128);
  }
  
marquee{
    behavior: alternate;
}
H1{
    font-style: bold;
}